@import "components/home";
@import "components/errorLog";
@import "components/logIn";
@import "components/tableOrder";
@import "components/order";
@import "components/ordersStatus";
@import "components/productsListSupply";
@import "components/navbar";
@import "components/dropdown";
@import "components/kitchen";

@mixin basicConfig {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*{
    @include basicConfig()
}
.home{
    background-image: url('../images/homeBG.png');
}


.logIn{
    background-image: url('../images/fontLogIn.svg');
    background-size: cover;
    height: 90vh;
}
