*{
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
}

.CardEmployees{
    margin:3% 3% 0% 5%;
    padding: 2%;

    .logoBQ{
        width: 100px;
        margin-left: 80%;
        margin-bottom: 0px;
    }

    img{
        width: 20%;
        height: 50%;
    }

    .name{
        font-size: 30px;
        color: rgba(150, 155, 159, 1);
        margin-bottom: 30px;
    }

    .addCard{
        color: rgba(233, 47, 72, 1);
    }

    .CardEmploy {
        display: flex;
        flex-direction: row;
        margin: 20px;

        section{
            margin-left: 80px;
        }

        .editAndDelete{
            flex: 0 1 auto;
            align-self: flex-end;
        }
        img{
            height: 50px;
            margin: 20px;
            
        }
        .img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0px;
        }
    }
}