@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


$colorWhite: rgb(255, 255, 255);
$colorRedPink: rgba(233, 47, 72, 1);
$colorGreen: rgb(94,201,110);
$colorGray: rgba(240, 240, 240, 1);


    .logIn-header {
      position: absolute;
      left: 100px;
      top: 309px;
      display: flex;
      font-family: 'ABeeZee', sans-serif;
    }
    
    .logIn-form{
      display: flex;
      flex-direction: column;
      flex-wrap:wrap;
      align-items: flex-end;
      font-size: 27px;

      p{
        align-self:flex-start;
        margin-left: 10px;
        font-size: 27px;
      }

      .inputLogIn{
        padding: 45px;
        font-size: 27px;
        width: 600px;
        padding: 27px;
        border-radius: 30px;
        background: $colorGray;
        margin: 15px;
      }

      .logIn-button{
        font-size: 27px;
        font-family: sans-serif;
        margin:45px;
        color: $colorWhite;
        background: $colorRedPink;
        border-radius: 15px;
        padding: 20px 50px 20px 50px;
      }
  
    }

    .bQ-logIn{
      position:fixed;
      top: 0px;
      right: 0px;
      margin-top:11%;
      width: 15em;
    }

    .bQ-combo{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 30em;
    }

