
.productSupplyHeader{
    display:grid;
    grid-template-columns: 8fr 5fr;
    margin: 3% 5% 5% 3%;
    text-align: center;
    align-items: center;
    border-bottom: rgba(233, 47, 72, 1) solid;
    p{
        font-size:1.2em;
        padding: 5%;
    }
}
.productSupply{
    display:grid;
    grid-template-columns: 5fr 6fr;
    margin: 2% 5% 2% 1%;
    text-align: center;
    align-items: center;
    font-size:1em;
    .supplyWrap{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .counterSupply{
        display: grid;
        grid-template-columns: 3fr 3fr;
        width: 40vw;
        justify-items: center;
        align-items: center;
        text-align: right;
        .buttonWrap{
            display: flex;
            img{
                width:35%;
                margin-left: 30%;
            }
        }
    }
    img{
        width: 3em;
    }
}