
.productSupplyHeader{
    display:grid;
    grid-template-columns: 8fr 5fr;
    margin: 3% 5% 5% 3%;
    text-align: center;
    align-items: center;
    border-bottom: rgba(233, 47, 72, 1) solid;
    p{
        font-size:1.2em;
        padding: 5%;
    }
}
.productSupply{
    display:grid;
    grid-template-columns: 6fr 6fr;
    margin: 2% 5% 2% 5%;
    text-align: center;
    align-items: center;
    font-size:1em;
    .supplyWrap{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .counterSupply{
        display: grid;
        // grid-template-columns: 3fr 3fr;
        width: 40vw;
        justify-items: center;
        align-items: center;
        text-align: right;
        
        .buttonWrap{
            display: flex;
            align-self: left;
            margin-left:2em;
            i{
                color: rgba(233, 47, 72, 1);
                font-size:1.3em;
                margin-left: 20%;
            }
            .fa-trash-alt{
                margin-right:5em;
            }
        }
    }
    img{
        width: 3em;
    }

}
.Modal {
    position: absolute;
    top: 22em;
    left: 5em;
    right: 5em;
    bottom: 22em;
    background-color: white;
    border: rgba(128, 128, 128, 0.719) solid;
    outline: none;
    i{
        color:rgba(233, 47, 72, 1);
        font-size:1.5em;
        align-items: right;
        margin-top:3%;
    }
    .productsInfo{
        input{
            outline:transparent;
            border:none;
        }
        // input:focus{
        //     color:transparent;
        // }
    }
}

//   .Overlay {
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // right: 0;
//     // bottom: 0;
//     background-color: rebeccapurple;
//   }